<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav navbar-right" id="footer-link-list">
      <li title="Facebook" icon="fa fa-facebook-square" link="https://www.facebook.com/leah.englund"><a title="Facebook" class="fa fa fa-facebook-square" target="_blank" href="https://www.facebook.com/leah.englund"></a></li>
      <li title="Twitter " icon="fa fa-twitter" link="https://twitter.com/smallbatch_thtr"><a title="Twitter " class="fa fa fa-twitter" target="_blank" href="https://twitter.com/smallbatch_thtr"></a></li>
      <li title="Instagram" icon="fa fa-instagram" link="http://instagram.com/p/pITOydplUa"><a title="Instagram" class="fa fa fa-instagram" target="_blank" href="http://instagram.com/p/pITOydplUa"></a>
      </li>
    </ul>
  </div>
</nav>
